@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url('./colors.css');
@import url('./palettes.css');

:root {
  --default-font: "Inter", sans-serif;
}

html,
body,
th,
td,
h1,
h2,
h3 {
  font-family: var(--default-font);
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var(--color-background);
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page {
  box-sizing: border-box;
  display: grid;
  grid:
    "header" 6rem "main" auto "footer" 3rem / 1fr;
  height: 100vh;
  padding: 1rem;
}

header {
  grid-area: header;
}

article {
  grid-area: main;
  overflow: auto;
}

footer {
  display: flex;
  gap: 0.5rem;
  grid-area: footer;
  padding-top: 0.5rem;
}

button {
  background-color: var(--color-background);
  border: 0.1rem solid var(--color-button);
  border-radius: 0.5rem;
  color: var(--color-button);
  padding: 0.5rem;
}

.palette-name {
  margin: 0 auto 1rem;
}

.palette-colors {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.palette-colors .color:before {
  background-color: var(--color);
  border: 0.1rem solid var(--color-border);
  content: " ";
  display: inline-block;
  height: 1rem;
  margin-right: 1rem;
  width: 1rem;
}

.timeline {
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.month-name {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 1rem auto;
}

.weekday-name {
  font-size: 1rem;
  font-weight: normal;
}

.data-item {
  background-color: var(--circle-color);
  border-radius: 50%;
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
}

.data-item-future {
  opacity: 0.75;
}